@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.body {
  font-family: "Nunito", sans-serif;
}
.pressable-card {
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.pressable-card:active {
  transform: scale(0.97);
}
.border {
  border: 1px solid #00994f;
}
.border-not {
  border: 1px solid #eaeced;
}

