.titleBackground {
    background-color: #ffc9c91a;
}

.bodyBackground {
    background-color:#f1f3f5;
}

.boxBackground {
    background-color:#f1f3f5!important;
}

.boxBorderBackground {
    background-color:#f1f3f5;
    border: 1px solid #e7f5ff;
}

.genericBackground{
    background-color: var( --mantine-color-gray-0)
}
.genericHighlightedBox{
    background-color:var( --mantine-color-gray-2)
}

.genericSecondaryBg{
    background-color:var( --mantine-color-gray-0)
}

.genericPrimaryBg{
    background-color: #a5d8ff;
}
.genericPrimaryFontColor{
    color: #1864ab;
}

._cardTitle_sz11i_29::after {
    content: '';
    display: block;
    background-color:var(--theme-primary-color-4);
    width: calc(2.8125rem * var(--mantine-scale));
    height: calc(0.125rem * var(--mantine-scale));
    margin-top: var(--mantine-spacing-sm);
}


.borderTop,.borderBottom,.borderLeft,.borderRight{
    border: 1px solid #fffbf459;
}

.border-radius{
    border-radius:4px;
}



input:focus {
    border: 1px solid darkgray;
}

.track {
    width: rem(40px);
    height: rem(6px);
    overflow: visible;
}

.thumb {
    width: rem(20px);
    height: rem(20px);
    left: rem(-2px);
    transition:
            background-color 100ms ease,
            left 100ms ease;

input:checked + * > & {
    background-color: var(--mantine-color-blue-filled);
    left: calc(100% - rem(12px));
}
}

.invoiceAdd{
    background-color:var(--theme-add-btn-color);
    @mixin hover {
        background-color:var(--theme-add-btn-color-hover);
    }
}

.invoiceSave{
    background-color:var(--theme-save-btn-color);
    @mixin hover {
        background-color: var(--theme-save-btn-color-hover);
    }
}
.invoicePos{
    background-color:var(--theme-pos-btn-color);
    @mixin hover {
        background-color: var(--theme-pos-btn-color-hover);
    }

}

.invoicePrint{
    background-color:var(--theme-print-btn-color);
    @mixin hover {
        background-color: var(--theme-print-btn-color-hover);
    }

}

.invoiceHold{
    background-color:var(--theme-hold-btn-color);
    @mixin hover {
        background-color: var(--theme-hold-btn-color-hover);
    }

}

.invoiceReset{
    background-color:var(--theme-reset-btn-color);
    @mixin hover {
        background-color: var(--theme-reset-btn-color-hover);
    }

}

.invoiceEdit{
    background-color: var(--theme-edit-btn-color);
    @mixin hover {
        background-color: var(--theme-pos-btn-color-hover);
    }

}

