.titleBackground {
    background-color: #ffc9c91a;
}

.bodyBackground {
    background-color:#fffbf459;
}

.boxBackground {
    background-color:#fffbf459!important;
}

.boxBorderBackground {
    background-color:#fffbf459;
    border: 1px solid #fffbf459;
}

.genericBackground{
    background-color:#fffbf459;
}
.genericHighlightedBox{
    background-color:#e1bb7e;
}

.genericSecondaryBg{
    background-color:#fbf7ef;
}

.genericPrimaryBg{
    background-color: #905a23;
}
.genericPrimaryFontColor{
    color: #29190a;
}

._cardTitle_sz11i_29::after {
    content: '';
    display: block;
    background-color: #905a23;
    width: calc(2.8125rem * var(--mantine-scale));
    height: calc(0.125rem * var(--mantine-scale));
    margin-top: var(--mantine-spacing-sm);
}


.borderTop,.borderBottom,.borderLeft,.borderRight{
    border: 1px solid #fffbf459;
}

.border-radius{
    border-radius:4px;
}



input:focus {
    border: 1px solid darkgray;
}

.track {
    width: rem(40px);
    height: rem(6px);
    overflow: visible;
}

.thumb {
    width: rem(20px);
    height: rem(20px);
    left: rem(-2px);
    transition:
            background-color 100ms ease,
            left 100ms ease;

input:checked + * > & {
    background-color: var(--mantine-color-blue-filled);
    left: calc(100% - rem(12px));
}
}

