
/* Input.module.css */
.input {
    border: 1px solid  var(--theme-primary-color-4);
    background: #fbf7ef;
    text-align: center;

}
/* Style the placeholder */

.input::placeholder {
    color: #868e96;
    opacity: 1;
}


.input {
    &:focus-within {
        border: 1px solid #343a40;
        border-color: #343a40;
    }
    transition: none;
}

