.label {
    background-color: var(--mantine-color-blue-light);
}

/* Input.module.css */
.input {
    border: 1px solid var(--mantine-color-violet-filled);
}

/* Style the placeholder */
.input::placeholder {
    color: #eb0f0f;
    opacity: 1;
}


.input {
    transition: none;

    &:focus-within {
         outline: 2px solid var(--mantine-color-blue-filled);
         border-color: transparent;
     }
}
