.wrapper {
    /* min-height: rem(900px); */
 /*   background-size: cover;
    background-position: center;
    background-repeat: repeat;*/
    background-position: center center;
    background-size: cover;
    /* background-image: url(https://images.unsplash.com/photo-1484242857719-4b9144542727?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1280&q=80); */
     background-image: url('../images/POS.png');
    /*background-image: url(https://ui.mantine.dev/_next/static/media/image.9a65bd94.svg);*/
  }
  
  .form {
     /*border-right: rem(5px) solid light-dark(var(--mantine-color-gray-9), var(--mantine-color-dark-7));*/
     min-height: rem(900px);
     max-width: rem(300px);
     padding-top: rem(80px);
  
    @media (max-width: $mantine-breakpoint-sm) {
      max-width: 100%;
    }
  }
  
  .title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
  }

.card {
    background-color: var(--mantine-color-body);
}

.avatar {
    border: rem(2px) solid var(--mantine-color-body);
}


.controls {
@media (max-width: $mantine-breakpoint-xs) {
    flex-direction: column-reverse;
}
}

.control {
@media (max-width: $mantine-breakpoint-xs) {
    width: 100%;
    text-align: center;
}
}