.scrollbar {
&,
&:hover {
     background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
 }

&[data-orientation='vertical'] .thumb {
     background-color:var(--theme-primary-color-4);
 }

&[data-orientation='horizontal'] .thumb {
     background-color:var(--theme-primary-color-4);
 }
}

.corner {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    opacity: 1;
}