.root {

}

.table {
th,
td {
    border-color: var(--mantine-color-orange-6);
}
}

.header {

th {
    border-bottom: 1px solid #ffc9c91a;
    background-color: rgba(208, 191, 191, 0.17);
    font-size: 14px;
    color: #656565;
}
}

.footer {
    color: #656565;
    font-size: 13px;

th ,td{
    border-top: 1px solid rgba(226, 194, 194, 0.39);
}
}

.pagination {
    background: transparent;
    border-top: 1px solid rgba(226, 194, 194, 0.39);

button {
    background: transparent;

&[data-active='true'] {
     color: white;
     border: transparent;
     background-color: rgba(208, 191, 191, 0.17);
 }
}
}