.root {

}

.table {
th,
td {
    border-color: var(--mantine-color-orange-6);
}
}

.header {

th {
    border-bottom: 1px solid #f8eedf;
    background-color:#339af0!important;
    font-size: 14px;
    color: white;
}
}

.footer {
    color: #e9ecef;
    font-size: 13px;

th ,td{
    border-top: 1px solid rgba(226, 194, 194, 0.39);
}
}

.pagination {
    background: transparent;
    border-top: 1px solid rgba(226, 194, 194, 0.39);

button {
    background: transparent;

&[data-active='true'] {
     color: white;
     border: transparent;
     background-color: rgba(208, 191, 191, 0.17);
 }
}
}

.balanceEntryTable tr:nth-child(2) > th:nth-child(2) {
    border-right: 1px solid #d7d7d7 !important;
}

.balanceEntryTable tr:nth-child(2) > th:nth-child(3) {
    border-right: 1px solid #d7d7d7 !important;
}

.balanceEntryTable .table {
    th,
    td {
        border-color: #d7d7d7;
        border-bottom-color: transparent;
    }
}