.root {

}

.table {
th,
td {
    border-color: transparent;
    font-size: 12px;
}
}

.header {

th {
    border-bottom: 1px solid var(--mantine-color-gray-3)!important;
    background-color:var(--mantine-color-gray-3)!important;
    font-size: 12px;
    font-weight: normal;
    color: black;
}
}

.body {
    color: #e9ecef;
    font-size: 12px;

    th ,td{
        border-top: 1px solid rgba(211, 205, 205, 0.39);
        font-size: 12px;
        font-weight: normal;
    }
}

