.root {

}

.table {
th,
td {
    border-color: var(--theme-primary-color-6);
}
}

.header {

th {
    border-bottom: 1px solid #f8eedf;
    background-color:var(--theme-primary-color-6)!important;
    font-size: 14px;
    color: white;
}
}

.footer {
    color: #e9ecef;
    font-size: 13px;

th ,td{
    border-top: 1px solid rgba(211, 205, 205, 0.39);
}
}

.pagination {
    background: transparent;
    border-top: 1px solid rgba(226, 194, 194, 0.39);

button {
    background: transparent;

    &[data-active='true'] {
         color: white;
         border: transparent;
         background-color: rgba(208, 191, 191, 0.17);
     }
}
}

