@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.invoice-body{
    font-family: "Azeret Mono", monospace;
    margin: 0px;
    padding: 0px;
    margin: auto;
    background-color: white;
}
.invoice-header-contents{
    display: flex;
    justify-content: space-between;
    background-color: #E9ECEF;
    padding: 20px;
}
.invoice-header-title{
    font-weight: 700;
    font-size: 16px;
    margin: 10px 0px 10px 0px;
}
.invoice-header-img{
    height: 60px;
    width: 60px;
}
.invoice-header-text{
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    font-size: 12px;
}
.invoice-header-two{
    margin-top: 10px;
}
.invoice-header-title-two{
    text-align: right;
    font-weight: 700;
    font-size: 16px;
    margin: 10px 0px 64px 0px;
}
.invoice-header-text-two{
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    font-size: 12px;
    text-align: right;
}
.invoice-body-main{
    margin: 20px 10px 0px 10px;
    
}
.invoice-body-text-title{
    margin: 10px 0px 10px 0px;
    padding: 0px;
    font-weight: 300;
    font-size: 12px;
}
.invoice-text{
    max-width: 180px;
    min-height: 18px;
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    font-size: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.padding-left{
    max-width: 180px;
    min-height: 18px;
    margin: 0px;
    padding: 0px;
    padding-left: 12px;
    font-weight: 300;
    font-size: 12px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.invoice-text-title{
    width: 50px;
    margin: 0px;
    padding: 1px;
    font-weight: 300;
    font-size: 12px;
}
.invoice-text-title-two{
    width: 70px;
    margin: 0px;
    padding: 1px;
    font-weight: 300;
    font-size: 12px;
}
.invoice-body-text{
    margin: 0px;
    padding: 0px;
    font-weight: 300;
    font-size: 12px;
}
.invoice-body-table-section{
    margin-top: 20px;
}
.invoice-body-table{
    width: 100%;
}
.invoice-body-table-th{
    background-color: #E9ECEF;
    font-weight: 300;
    font-size: 12px;
    padding: 5px;
}
.invoice-body-table-tr{
    border-bottom: 1px solid #ddd;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.invoice-body-table-td{
    font-weight: 300;
    font-size: 12px;
    padding: 5px;
    border-bottom: 1px solid #F1F3F5;
}

.invoice-footer{
    margin-top: 10px;
}
.invoice-footer-contents{
    display: flex;
    justify-content: space-between;
}
.footer-right-section{
    display: flex;
    justify-content: space-between;
    gap: 1px;
}
.footer-border-bottom{
    padding-bottom: 5px;
    border-bottom: 1px solid #F1F3F5;
}
.footer-name-section{
    display: flex;
    text-align: left;
    width: 200px;
}
.invoice-footer-text-two{
    font-weight: 300;
    font-size: 12px;
    margin-right: 30px;
}
.footer-right-section{
    margin-top: 20px;
    margin-right: 10px;
}
.invoice-footer-img{
    margin: 12px 0px 0px 10px;
    height: 200px;
    width: 200px;
}