@tailwind base;
@tailwind components;
@tailwind utilities;

.form-grid{
    background-color:white;
    border-radius: 8px;
}
.view-gird {
    background-color: rgba(248, 249, 250, 0.26);
}

.mantine-Tabs-list{
   /* height: 52px !important; */
  /* border-bottom: 1px solid red!important; */
}

.titleBackground {
    background-color: #ffc9c91a;
}

.bodyBackground {
    background-color:rgba(226,194,194,0.39);
}

.boxBackground {
    background-color: rgba(208, 191, 191, 0.17) !important;
}

.boxBorderBackground {
    background-color:rgba(226,194,194,0.39);
    border: 1px solid rgba(226,194,194,0.39);;
}

.borderTop,.borderBottom,.borderLeft,.borderRight{
    border: 1px solid rgba(226, 194, 194, 0.39);
}

.m-5a3e5f7b::before {
    padding-left: 0 !important;
    height: 32px;
    border-bottom: 1px solid #bab4b4;
    margin-bottom: 8px;
    color: rgba(165, 153, 153, 0.42) !important;
    font-size: 16px !important;
    padding-bottom: 8px !important;
}

.m-60c222c7{
    overflow: hidden!important;
}
.m-6e463822{
    overflow: scroll!important;
}

.textColor{
    color:#656565;
}

.border-radius{
    border-radius:4px;
}

.table-fixed{
    overflow: hidden!important;
}

.input-center {
    text-align: center !important;
}

input:focus {
    border: 1px solid rgba(226,194,194,0.39);
}
textarea:focus {
    border: 1px solid rgba(226,194,194,0.39);
}

.m-54c44539{
    padding: 16px;
}
.borderRadiusAll{
    border: 1px solid rgba(226, 194, 194, 0.39);
    border-radius:4px;
}

.borderRadiusAllVoucherNew{
  border-top: 1px solid rgba(226, 194, 194, 0.39);  
  border-left: 1px solid rgba(226, 194, 194, 0.39);
  border-right: 1px solid rgba(226, 194, 194, 0.39);
}
.borderRadiusAllVoucher{
    border-top: 1px solid rgba(226, 194, 194, 0.39);
    border-bottom: 1px solid rgba(226, 194, 194, 0.39);;
    border-radius:4px;
}


.border-top-none{
    border-top:none;
    border-radius:0;
}
.border-bottom-none{
    border-bottom:none;
    border-radius:0;
}
.border-left-none{
    border-left:none;
    border-radius:0;
}
.border-right-none{
    border-right:none;
    border-radius:0;
}

.form-box-title{

}
.form-box-table{

}


.mantine-AppShell-main{
    padding-top: 42px !important;
    padding-bottom: 0 !important;
    background: #f0f1f9;
}
.mantine-Tabs-list{
    background: #ffffff;
}
.grid-radius{
    border-radius: 8px;
}

.m-46b77525{
    margin-top: 0!important;
}

.input-hidden {
    position: absolute;
    left: -9999px;
}

input[type=radio]:checked + label>img {
    border: 2px solid #e37474;
}

/* Stuff after this is only to make things more pretty */


input[type=radio] + label>img {
    border: 1px solid rgba(226, 194, 194, 0.39);
    width: 100%;
    height:52px;
    padding: 4px;
    background: #ffffff;
    transition: 500ms all;
    border-radius: 4px;
}

input[type=radio]:checked + label>img {
     transform:
             rotateZ(-1deg)
             rotateX(1deg);
}


input[type=radio]:checked + label>img {
   /* transform:
            rotateZ(-10deg)
            rotateX(10deg);*/
}

.no-focus-outline:focus {
    outline: none !important;
    box-shadow: none !important;
}

.highlightedItem {  
    background-color: #f8d4d4 !important; 
    /* border: 1px solid #f8bab4; */
    border-radius: 4px;
}

.highlightedItem .title {
    font-weight: bold !important;
    color: #eb0f0f !important; 
    
}

.highlightedItem .description {
    color: #e61d1d !important; 
}
/* .invoiceBatchModal .mantine-Modal-body{
    background-color: '#f0f1f9';
    padding : 2px;
} */

.ModalTabelDetails {
    font-size: var(--mantine-font-size-sm);
    background: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
  
.ModalTableLabel {
    width: rem(130px);
  }
.hoveredItem {  
    background-color: #f8d4d4 !important; 
    /* border: 1px solid #f8bab4; */
    border-radius: 4px;
}

.hoveredItem .title {
    font-weight: bold !important;
    color: #eb0f0f !important; 
}

.hoveredItem .description {
    color: #e61d1d !important; 
}
.ActionIconCustom{
    position: absolute;
    right: 8px;
    z-index: 1000;
}

/* print Styles */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
.print-body{
    font-family: "Azeret Mono", monospace;
    margin: 0px;
    padding: 0px;
    background-color: white;
    max-width: 80mm;
    margin: auto;
}
/* header section */
.pos-print-header{
    margin: auto;
    width: 80mm;
    
}
.pos-print-logo{
    width: 20mm;
    height: 20mm;
}
.pos-print-header{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.pos-print-title{
    margin-top: 10px;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 10px;
}
.pos-print-address{
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}
.invoice{
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0px;
}
.header-details{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.header-description{
    margin-top: 0px;
}
.description-details{
    font-size: 10PX;
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;
    font-weight: 300;
}

/* main section */

.pos-print-main{
    margin: auto;
    width: 80mm;
}
.hr{
    margin-top: 5px;
    height: 2px;
    width: 100%;
    color: black;
    background-color: black;
    border: none;
}
.print-table{
    margin-top: 5px;
}
.table-td{
    font-weight: 300;
    font-size: 10px;
    text-align: left;
}
.table-th{
    border-bottom :2px solid black;
    margin: 0;
    padding-bottom: 1px;
}
.table-tdp{
    padding: 1px;
}

.print-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80mm;
    margin: auto;
    margin-bottom: 20px;

}
.footer-title{
    margin-top: 10px;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 0px;
}
.footer-description{
    margin-top: 2px;
    font-size: 8px;
}
.table-quantity{
text-align: center;
}
.table-amount{
text-align: right;
}

.pos-body{
    font-family: "Azeret Mono", monospace;
    margin: 0px;
    padding: 5px;
    /* background-color: yellow; */
    max-width: 80mm;
    margin: auto;
    background-color: white;
}
.pos-head{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head-img{
    margin-top: 10px;
    width: 20mm;
    height: 20mm;
    margin-bottom: 0px;
}
.head-title{
    margin-top : 0;
    margin-bottom: 0px;
    font-weight: 600;
    font-size: 20px;
}
.head-email{
    font-size: 12px;
    margin-bottom: 0px;
}
.head-address{
    font-size: 12px;
    margin-top: 0px;
    text-align: center;
}
.head-phone{
    margin-top: 0px;
    font-size: 12px;
    margin-bottom: 0px;
}
.body-main{
    display: flex;
    flex-direction: column;
}
.main-title{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px dashed #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
}
.main-title-span{
    background:#fff; 
    padding:0 5px;
    font-size: 12px;
    font-weight: 400;
}
.main-invoice{
    display: flex;
    gap: 0px;
}

.invoice-text{
    margin: 0px;
    padding: 2px;
    font-weight: 400;
    font-size: 9px;
}
.text-width{
    width: 50mm;
}
.invoice-details{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}
.main-address {
    display: flex ;
    flex-direction: column;
    width: 100%;
    text-align: left;
}
.text-center{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.text-left{
    margin: 0px;
    padding: 0px;
    text-align: left;
}
.text-right{
    margin: 0px;
    padding: 0px;
    text-align: right;
}
.table-title{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px dashed #000; 
    line-height: 0.1em;
    margin: 0px;
    padding: 0px;
}
.margin-footer{
    margin-top: 30px;
}
.margin-footer-botom{
    margin-bottom: 20px;
}
.footer-items{
    
    display: flex;
    justify-content: space-between;
}
.footer-company{
display: flex;
width: 100%;
text-align: center;
align-items: center;
justify-content: center;
}