@tailwind base;
@tailwind components;
@tailwind utilities;

.form-grid{
    background-color:white;
    border-radius: 8px;
}
.view-gird {
    background-color: rgba(248, 249, 250, 0.26);
}

.mantine-Tabs-list{
   /* height: 52px !important; */
  /* border-bottom: 1px solid red!important; */
}

.titleBackground {
    background-color: #ffc9c91a;
}

.bodyBackground {
    background-color:rgba(226,194,194,0.39);
}

.boxBackground {
    background-color: rgba(208, 191, 191, 0.17) !important;
}

.boxBorderBackground {
    background-color:rgba(226,194,194,0.39);
    border: 1px solid rgba(226,194,194,0.39);;
}

.borderTop,.borderBottom,.borderLeft,.borderRight{
    border: 1px solid rgba(226, 194, 194, 0.39);
}

.m-5a3e5f7b::before {
    padding-left: 0 !important;
    height: 32px;
    border-bottom: 1px solid #bab4b4;
    margin-bottom: 8px;
    color: rgba(165, 153, 153, 0.42) !important;
    font-size: 16px !important;
    padding-bottom: 8px !important;
}

.m-60c222c7{
    overflow: hidden!important;
}
.m-6e463822{
    overflow: scroll!important;
}

.textColor{
    color:#656565;
}

.border-radius{
    border-radius:4px;
}

.table-fixed{
    overflow: hidden!important;
}

.input-center {
    text-align: center !important;
}

input:focus {
    border: 1px solid rgba(226,194,194,0.39);
}
textarea:focus {
    border: 1px solid rgba(226,194,194,0.39);
}

.m-54c44539{
    padding: 16px;
}
.borderRadiusAll{
    border: 1px solid rgba(226, 194, 194, 0.39);
    border-radius:4px;
}

.borderRadiusAllVoucherNew{
  border-top: 1px solid rgba(226, 194, 194, 0.39);  
  border-left: 1px solid rgba(226, 194, 194, 0.39);
  border-right: 1px solid rgba(226, 194, 194, 0.39);
}
.borderRadiusAllVoucher{
    border-top: 1px solid rgba(226, 194, 194, 0.39);
    border-bottom: 1px solid rgba(226, 194, 194, 0.39);;
    border-radius:4px;
}


.border-top-none{
    border-top:none;
    border-radius:0;
}
.border-bottom-none{
    border-bottom:none;
    border-radius:0;
}
.border-left-none{
    border-left:none;
    border-radius:0;
}
.border-right-none{
    border-right:none;
    border-radius:0;
}

.form-box-title{

}
.form-box-table{

}


.mantine-AppShell-main{
    padding-top: 42px !important;
    padding-bottom: 0 !important;
    background: #f0f1f9;
}
.mantine-Tabs-list{
    background: #ffffff;
}
.grid-radius{
    border-radius: 8px;
}

.m-46b77525{
    margin-top: 0!important;
}

.input-hidden {
    position: absolute;
    left: -9999px;
}

input[type=radio]:checked + label>img {
    border: 2px solid #e37474;
}

/* Stuff after this is only to make things more pretty */


input[type=radio] + label>img {
    border: 1px solid rgba(226, 194, 194, 0.39);
    width: 100%;
    height:52px;
    padding: 4px;
    background: #ffffff;
    transition: 500ms all;
    border-radius: 4px;
}

input[type=radio]:checked + label>img {
     transform:
             rotateZ(-1deg)
             rotateX(1deg);
}


input[type=radio]:checked + label>img {
   /* transform:
            rotateZ(-10deg)
            rotateX(10deg);*/
}

.no-focus-outline:focus {
    outline: none !important;
    box-shadow: none !important;
}

.highlightedItem {  
    background-color: #FF6B6B; 
    border: 1px solid #E74C3C;
    border-radius: 4px;
}

.highlightedItem .title {
    font-weight: bold !important;
    color: #FFFFFF !important; /* White for the title */
}

.highlightedItem .description {
    color: #F0F0F0 !important; /* Very light grey for the description */
}
