@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

    --theme-primary-color-0: var(--mantine-color-blue-0);
    --theme-primary-color-1: var(--mantine-color-blue-1);
    --theme-primary-color-2: var(--mantine-color-blue-2);
    --theme-primary-color-3: var(--mantine-color-blue-3);
    --theme-primary-color-4: var(--mantine-color-blue-4);
    --theme-primary-color-5: var(--mantine-color-blue-5);
    --theme-primary-color-6: var(--mantine-color-blue-6);
    --theme-primary-color-7: var(--mantine-color-blue-7);
    --theme-primary-color-8: var(--mantine-color-blue-8);
    --theme-primary-color-9: var(--mantine-color-blue-9);

    --theme-secondary-color-0: var(--mantine-color-green-0);
    --theme-secondary-color-1: var(--mantine-color-green-1);
    --theme-secondary-color-2: var(--mantine-color-green-2);
    --theme-secondary-color-3: var(--mantine-color-green-3);
    --theme-secondary-color-4: var(--mantine-color-green-4);
    --theme-secondary-color-5: var(--mantine-color-green-5);
    --theme-secondary-color-6: var(--mantine-color-green-6);
    --theme-secondary-color-7: var(--mantine-color-green-7);
    --theme-secondary-color-8: var(--mantine-color-green-8);

    --theme-link-text-color: var(--mantine-color-gray-0);
    --theme-link-bg-color: var(--mantine-color-green-6);

    --theme-success-color: var(--mantine-color-green-6);
    --theme-remove-color: var(--mantine-color-red-6);
    --theme-delete-color: var(--mantine-color-red-6);
    --theme-error-color: var(--mantine-color-red-6);
    --theme-delete-color: var(--mantine-color-red-6);
    --theme-warning-color: var(--mantine-color-yellow-6);
    --theme-info-color: var(--mantine-color-blue-6);
    --theme-notice-color: var(--mantine-color-gray-6);
    --theme-validation-error-color: var(--mantine-color-red-6);
    --theme-validation-success-color: var(--mantine-color-blue-6);


    --theme-reset-btn-color: var(--mantine-color-red-6);
    --theme-reset-btn-color-hover: var(--mantine-color-red-8);

    --theme-hold-btn-color: var(--mantine-color-yellow-6);
    --theme-hold-btn-color-hover: var(--mantine-color-yellow-8);

    --theme-print-btn-color: var(--mantine-color-lime-8);
    --theme-print-btn-color-hover: var(--mantine-color-lime-9);

    --theme-pos-btn-color: var(--mantine-color-violet-7);
    --theme-pos-btn-color-hover: var(--mantine-color-violet-8);

    --theme-save-btn-color: var(--mantine-color-cyan-7);
    --theme-save-btn-color-hover: var(--mantine-color-cyan-8);

    --theme-submit-btn-color: var(--mantine-color-green-7);
    --theme-submit-btn-color-hover: var(--mantine-color-green-8);

    --theme-add-btn-color: var(--mantine-color-blue-8);
    --theme-add-btn-color-hover: var(--mantine-color-blue-9);

    --theme-edit-btn-color: var(--mantine-color-indigo-6);
    --theme-edit-btn-color-hover: var(--mantine-color-indigo-8);

}


.form-grid{
   background-color:white;
   border-radius: 8px;
}
.view-gird {
   background-color: rgba(248, 249, 250, 0.26);
}

.mantine-Tabs-list{
  /* height: 52px !important; */
  /* border-bottom: 1px solid red!important; */
}

.titleBackground {
    background-color: #e7f5ffc;
}

.bodyBackground {
    background-color: #f8f9fa;
}

.bodyBackgroundLight{
    background-color: #e9ecef;
}

.boxBackground {
    background-color: var(--mantine-color-gray-0)!important;
}

.boxBorderBackground {
    /*background-color:rgba(226,194,194,0.39);*/
    background-color:var(--mantine-color-gray-3)!important;
    border: 1px solid var(--mantine-color-gray-3)!important;
}

.borderTop,.borderBottom,.borderLeft,.borderRight{
    border: 1px solid var(--mantine-color-blue-2)!important;
}

.m-5a3e5f7b::before {
    padding-left: 0 !important;
    height: 32px;
    border-bottom: 1px solid #bab4b4;
    margin-bottom: 8px;
    color: rgba(165, 153, 153, 0.42) !important;
    font-size: 16px !important;
    padding-bottom: 8px !important;
}

.m-60c222c7{
    overflow: hidden!important;
}
.m-6e463822{
    overflow: scroll!important;
}

.textColor{
    color:#656565;
}

.border-radius{
    border-radius:4px;
}

.table-fixed{
    overflow: hidden!important;
}

.input-center {
    text-align: center !important;
}

input:focus {
    border: 1px solid rgba(226,194,194,0.39);
}
textarea:focus {
    border: 1px solid rgba(226,194,194,0.39);
}

.m-54c44539{
    padding: 16px;
}
.borderRadiusAll{
    border: 1px solid #fbf7ef;
    border-radius:4px;
}

.linkTextBtn{
    border: 1px solid #fbf7ef;
    border-radius:4px;
    background: var(--mantine-color-blue-8)!important;
    color: white!important;
    padding: 4px!important;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.borderRadiusAllVoucherNew{
  border-top: 1px solid #fffbf459;  
  border-left: 1px solid #fffbf459;
  border-right: 1px solid #fffbf459;
}
.borderRadiusAllVoucher{
    border-top: 1px solid #fffbf459;
    border-bottom: 1px solid #fffbf459;;
    border-radius:4px;
}


.border-top-none{
    border-top:none;
    border-radius:0;
}
.border-bottom-none{
    border-bottom:none;
    border-radius:0;
}
.border-left-none{
    border-left:none;
    border-radius:0;
}
.border-right-none{
    border-right:none;
    border-radius:0;
}

.form-box-title{

}
.form-box-table{

}


.mantine-AppShell-main{
    padding-top: 42px !important;
    padding-bottom: 0 !important;
    background: #f0f1f9;
}
.mantine-Tabs-list{
    background: #ffffff;
}
.grid-radius{
    border-radius: 8px;
}

.m-46b77525{
    margin-top: 0!important;
}

.input-hidden {
    position: absolute;
    left: -9999px;
}

input[type=radio]:checked + label>img {
    border: 2px solid var(--mantine-color-blue-3)!important;;
}

/* Stuff after this is only to make things more pretty */


input[type=radio] + label>img {
    border: 1px solid #fffbf459;
    width: 100%;
    height:52px;
    padding: 4px;
    background: #ffffff;
    transition: 500ms all;
    border-radius: 4px;
}

input[type=radio]:checked + label>img {
     transform:
             rotateZ(-1deg)
             rotateX(1deg);
}


input[type=radio]:checked + label>img {
   /* transform:
            rotateZ(-10deg)
            rotateX(10deg);*/
}

.no-focus-outline:focus {
    outline: none !important;
    box-shadow: none !important;
}

.highlightedItem {  
    background-color:#f8eedf !important;
    /* border: 1px solid #f8bab4; */
}

.highlightedItem .title {
    color:#fbf7ef  !important;
    
}

.highlightedItem .description {
    color:#fbf7ef !important;
}
/* .invoiceBatchModal .mantine-Modal-body{
    background-color: '#f0f1f9';
    padding : 2px;
} */

.ModalTabelDetails {
    font-size: var(--mantine-font-size-sm);
    background: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
  
.ModalTableLabel {
    width: rem(130px);
  }
.hoveredItem {  
    background-color: #f8d4d4 !important; 
    /* border: 1px solid #f8bab4; */
    border-radius: 4px;
}

.hoveredItem .title {
    font-weight: bold !important;
    color:var(--mantine-color-blue-6)!important;
}

.hoveredItem .description {
    color: var(--mantine-color-blue-6)!important;
}
.ActionIconCustom{
    position: absolute;
    right: 8px;
    z-index: 1000;
}


.btnPrimaryBg {
    background-color: var(--mantine-color-blue-6)!important;
@mixin hover {
    background-color: var(--mantine-color-blue-8)!important;
}
}

.btnPrimaryBgOutline {
    color: var(--mantine-color-blue-6)!important;
    background-color: transparent!important;
    border:  var(--mantine-color-blue-6)!important;
}

.tooltipPrimaryBg {
    background-color: var(--mantine-color-blue-8)!important;
}
.tooltipSecondaryBg {
    background-color: var(--mantine-color-blue-8)!important;
}

/* Tooltip z-index */
.m_1b3c8819.mantine-Tooltip-tooltip {
    z-index: 999 !important;
} 

.link {

    /* padding: var(--mantine-spacing-xs) var(--mantine-spacing-md) !important;
     padding-left: var(--mantine-spacing-md) !important;
     margin-left: var(--mantine-spacing-xl) !important;
     font-size: var(--mantine-font-size-sm) !important;*/
    color: var(--mantine-color-dark-7) !important;
    text-decoration: none !important;

    @mixin hover {
        /* background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));*/
        color: var(--mantine-color-blue-6);
        background-color: whitesmoke;
    }
}

.mantine-Modal-header h2{
    padding-left: 16px;
}

