@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ps-sidebar-root {
  width: 100% !important;
  min-width: 100% !important;
  border: none!important;
}

.ps-menuitem-root a.ps-menu-button{
  height: 40px;
}
.ps-menuitem-root a.ps-menu-button:hover{
  height: 40px;
  background: #3758f9;
  color: #FFFFFF;
}

.ps-menuitem-root a.ps-menu-button span.ps-submenu-expand-icon{
  font-size: 2px;
  line-height: 40px;
}

div.ps-submenu-content a.ps-menu-button {
  padding-left: 30px;
}

.mantine-Tabs-root .mantine-Tabs-tabsList{
  height: 40px!important;
}
.text-mini{
  font-size: 8px;
  line-height: 4px;
  padding: 0;
}

@media (min-width: 640px) {
  table {
    display: inline-table !important;
  }

  thead tr:not(:first-child) {
    display: none;
  }
}

td:not(:last-child) {
  border-bottom: 0;
}

th:not(:last-child) {
  border-bottom: 2px solid rgba(0, 0, 0, .1);
}

.mantine-Header-root{
  background: #f6f8fa;
}


