@tailwind base;
@tailwind components;
@tailwind utilities;

.form-grid{
    background-color:white;
    border-radius: 8px;
}
.view-gird {
    background-color: rgba(248, 249, 250, 0.26);
}

.mantine-Tabs-list{
   /* height: 52px !important; */
  /* border-bottom: 1px solid red!important; */
}

.titleBackground {
    background-color: #ffc9c91a;
}

.bodyBackground {
    background-color:#daaa5e;
}

.bodyBackgroundLight{
    background-color: #f8eedf;
}

.boxBackground {
    /*background-color: rgba(208, 191, 191, 0.17) !important;*/
    background-color: #fbf7ef !important;
}

.boxBorderBackground {
    /*background-color:rgba(226,194,194,0.39);*/
    background-color:#fbf7ef!important;
    border: 1px solid #fbf7ef;
}

.borderTop,.borderBottom,.borderLeft,.borderRight{
    border: 1px solid rgba(182, 138, 61, 0.35);
}

.m-5a3e5f7b::before {
    padding-left: 0 !important;
    height: 32px;
    border-bottom: 1px solid #bab4b4;
    margin-bottom: 8px;
    color: rgba(165, 153, 153, 0.42) !important;
    font-size: 16px !important;
    padding-bottom: 8px !important;
}

.m-60c222c7{
    overflow: hidden!important;
}
.m-6e463822{
    overflow: scroll!important;
}

.textColor{
    color:#656565;
}

.border-radius{
    border-radius:4px;
}

.table-fixed{
    overflow: hidden!important;
}

.input-center {
    text-align: center !important;
}

input:focus {
    border: 1px solid rgba(226,194,194,0.39);
}
textarea:focus {
    border: 1px solid rgba(226,194,194,0.39);
}

.m-54c44539{
    padding: 16px;
}
.borderRadiusAll{
    border: 1px solid #fbf7ef;
    border-radius:4px;
}

.borderRadiusAllVoucherNew{
  border-top: 1px solid #fffbf459;  
  border-left: 1px solid #fffbf459;
  border-right: 1px solid #fffbf459;
}
.borderRadiusAllVoucher{
    border-top: 1px solid #fffbf459;
    border-bottom: 1px solid #fffbf459;;
    border-radius:4px;
}


.border-top-none{
    border-top:none;
    border-radius:0;
}
.border-bottom-none{
    border-bottom:none;
    border-radius:0;
}
.border-left-none{
    border-left:none;
    border-radius:0;
}
.border-right-none{
    border-right:none;
    border-radius:0;
}

.form-box-title{

}
.form-box-table{

}


.mantine-AppShell-main{
    padding-top: 42px !important;
    padding-bottom: 0 !important;
    background: #f0f1f9;
}
.mantine-Tabs-list{
    background: #ffffff;
}
.grid-radius{
    border-radius: 8px;
}

.m-46b77525{
    margin-top: 0!important;
}

.input-hidden {
    position: absolute;
    left: -9999px;
}

input[type=radio]:checked + label>img {
    border: 2px solid #e37474;
}

/* Stuff after this is only to make things more pretty */


input[type=radio] + label>img {
    border: 1px solid #fffbf459;
    width: 100%;
    height:52px;
    padding: 4px;
    background: #ffffff;
    transition: 500ms all;
    border-radius: 4px;
}

input[type=radio]:checked + label>img {
     transform:
             rotateZ(-1deg)
             rotateX(1deg);
}


input[type=radio]:checked + label>img {
   /* transform:
            rotateZ(-10deg)
            rotateX(10deg);*/
}

.no-focus-outline:focus {
    outline: none !important;
    box-shadow: none !important;
}

.highlightedItem {  
    background-color: #f8d4d4 !important; 
    /* border: 1px solid #f8bab4; */
    border-radius: 4px;
}

.highlightedItem .title {
    font-weight: bold !important;
    color: #eb0f0f !important; 
    
}

.highlightedItem .description {
    color: #e61d1d !important; 
}
/* .invoiceBatchModal .mantine-Modal-body{
    background-color: '#f0f1f9';
    padding : 2px;
} */

.ModalTabelDetails {
    font-size: var(--mantine-font-size-sm);
    background: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
  
.ModalTableLabel {
    width: rem(130px);
  }
.hoveredItem {  
    background-color: #f8d4d4 !important; 
    /* border: 1px solid #f8bab4; */
    border-radius: 4px;
}

.hoveredItem .title {
    font-weight: bold !important;
    color: #eb0f0f !important; 
}

.hoveredItem .description {
    color: #e61d1d !important; 
}
.ActionIconCustom{
    position: absolute;
    right: 8px;
    z-index: 1000;
}

.btnPrimaryBg {
    background-color: #905a23!important;
}

.tooltipPrimaryBg {
    background-color: #905a23!important;
}
.tooltipSecondaryBg {
    background-color: #905a23!important;
}

