@tailwind base;
@tailwind components;
@tailwind utilities;

/*
--mantine-color-blue-0: #e7f5ff;
--mantine-color-blue-1: #d0ebff;
--mantine-color-blue-2: #a5d8ff;
--mantine-color-blue-3: #74c0fc;
--mantine-color-blue-4: #4dabf7;
--mantine-color-blue-5: #339af0;
--mantine-color-blue-6: #228be6;
--mantine-color-blue-7: #1c7ed6;
--mantine-color-blue-8: #1971c2;
--mantine-color-blue-9: #1864ab;
--mantine-color-green-0: #ebfbee;
--mantine-color-green-1: #d3f9d8;
--mantine-color-green-2: #b2f2bb;
--mantine-color-green-3: #8ce99a;
--mantine-color-green-4: #69db7c;
--mantine-color-green-5: #51cf66;
--mantine-color-green-6: #40c057;
--mantine-color-green-7: #37b24d;
--mantine-color-green-8: #2f9e44;
--mantine-color-green-9: #2b8a3e;
--mantine-color-dark-0: #c9c9c9;
--mantine-color-dark-1: #b8b8b8;
--mantine-color-dark-2: #828282;
--mantine-color-dark-3: #696969;
--mantine-color-dark-4: #424242;
--mantine-color-dark-5: #3b3b3b;
--mantine-color-dark-6: #2e2e2e;
--mantine-color-dark-7: #242424;
--mantine-color-dark-8: #1f1f1f;
--mantine-color-dark-9: #141414;
--mantine-color-gray-0: #f8f9fa;
--mantine-color-gray-1: #f1f3f5;
--mantine-color-gray-2: #e9ecef;
--mantine-color-gray-3: #dee2e6;
--mantine-color-gray-4: #ced4da;
--mantine-color-gray-5: #adb5bd;
--mantine-color-gray-6: #868e96;
--mantine-color-gray-7: #495057;
--mantine-color-gray-8: #343a40;
--mantine-color-gray-9: #212529;

 */



.form-grid{
   background-color:white;
   border-radius: 8px;
}
.view-gird {
   background-color: rgba(248, 249, 250, 0.26);
}

.mantine-Tabs-list{
  /* height: 52px !important; */
  /* border-bottom: 1px solid red!important; */
}

.titleBackground {
    background-color: #e7f5ffc;
}

.bodyBackground {
    background-color: #f8f9fa;
}

.bodyBackgroundLight{
    background-color: #e9ecef;
}

.boxBackground {
    /* background-color: rgba(208, 191, 191, 0.17) !important; */
    background-color: #f8f9fa!important;
}

.boxBorderBackground {
    /*background-color:rgba(226,194,194,0.39);*/
    background-color:#fbf7ef!important;
    border: 1px solid #fbf7ef;
}

.borderTop,.borderBottom,.borderLeft,.borderRight{
    border: 1px solid rgba(182, 138, 61, 0.35);
}

.m-5a3e5f7b::before {
    padding-left: 0 !important;
    height: 32px;
    border-bottom: 1px solid #bab4b4;
    margin-bottom: 8px;
    color: rgba(165, 153, 153, 0.42) !important;
    font-size: 16px !important;
    padding-bottom: 8px !important;
}

.m-60c222c7{
    overflow: hidden!important;
}
.m-6e463822{
    overflow: scroll!important;
}

.textColor{
    color:#656565;
}

.border-radius{
    border-radius:4px;
}

.table-fixed{
    overflow: hidden!important;
}

.input-center {
    text-align: center !important;
}

input:focus {
    border: 1px solid rgba(226,194,194,0.39);
}
textarea:focus {
    border: 1px solid rgba(226,194,194,0.39);
}

.m-54c44539{
    padding: 16px;
}
.borderRadiusAll{
    border: 1px solid #fbf7ef;
    border-radius:4px;
}

.borderRadiusAllVoucherNew{
  border-top: 1px solid #fffbf459;  
  border-left: 1px solid #fffbf459;
  border-right: 1px solid #fffbf459;
}
.borderRadiusAllVoucher{
    border-top: 1px solid #fffbf459;
    border-bottom: 1px solid #fffbf459;;
    border-radius:4px;
}


.border-top-none{
    border-top:none;
    border-radius:0;
}
.border-bottom-none{
    border-bottom:none;
    border-radius:0;
}
.border-left-none{
    border-left:none;
    border-radius:0;
}
.border-right-none{
    border-right:none;
    border-radius:0;
}

.form-box-title{

}
.form-box-table{

}


.mantine-AppShell-main{
    padding-top: 42px !important;
    padding-bottom: 0 !important;
    background: #f0f1f9;
}
.mantine-Tabs-list{
    background: #ffffff;
}
.grid-radius{
    border-radius: 8px;
}

.m-46b77525{
    margin-top: 0!important;
}

.input-hidden {
    position: absolute;
    left: -9999px;
}

input[type=radio]:checked + label>img {
    border: 2px solid #e37474;
}

/* Stuff after this is only to make things more pretty */


input[type=radio] + label>img {
    border: 1px solid #fffbf459;
    width: 100%;
    height:52px;
    padding: 4px;
    background: #ffffff;
    transition: 500ms all;
    border-radius: 4px;
}

input[type=radio]:checked + label>img {
     transform:
             rotateZ(-1deg)
             rotateX(1deg);
}


input[type=radio]:checked + label>img {
   /* transform:
            rotateZ(-10deg)
            rotateX(10deg);*/
}

.no-focus-outline:focus {
    outline: none !important;
    box-shadow: none !important;
}

.highlightedItem {  
    background-color:#f8eedf !important;
    /* border: 1px solid #f8bab4; */
}

.highlightedItem .title {
    color:#fbf7ef  !important;
    
}

.highlightedItem .description {
    color:#fbf7ef !important;
}
/* .invoiceBatchModal .mantine-Modal-body{
    background-color: '#f0f1f9';
    padding : 2px;
} */

.ModalTabelDetails {
    font-size: var(--mantine-font-size-sm);
    background: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
  
.ModalTableLabel {
    width: rem(130px);
  }
.hoveredItem {  
    background-color: #f8d4d4 !important; 
    /* border: 1px solid #f8bab4; */
    border-radius: 4px;
}

.hoveredItem .title {
    font-weight: bold !important;
    color: #eb0f0f !important; 
}

.hoveredItem .description {
    color: #e61d1d !important; 
}
.ActionIconCustom{
    position: absolute;
    right: 8px;
    z-index: 1000;
}

.btnPrimaryBg {
    background-color: #905a23!important;
}

.btnPrimaryBgOutline {
    color: #905a23!important;
    background-color: transparent!important;
    border:  #905a23!important;
}

.tooltipPrimaryBg {
    background-color: #905a23!important;
}
.tooltipSecondaryBg {
    background-color: #905a23!important;
}

/* Tooltip z-index */
.m_1b3c8819.mantine-Tooltip-tooltip {
    z-index: 999 !important;
} 

.link {

    /* padding: var(--mantine-spacing-xs) var(--mantine-spacing-md) !important;
     padding-left: var(--mantine-spacing-md) !important;
     margin-left: var(--mantine-spacing-xl) !important;
     font-size: var(--mantine-font-size-sm) !important;*/
    color: var(--mantine-color-dark-7) !important;
    text-decoration: none !important;

    @mixin hover {
        /* background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));*/
        color:  #905a23 !important;
        background-color: whitesmoke;
    }
}

